@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;600&display=swap');


:root {
    --cor-texto: #ffffff;
    --cor-marca: #FA7D09;
    --cor-fundo: #2F2519;
    --cor-texto2:#C0C0C0;

    --fonte-titulo: 'Bebas Neue', sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fonte-texto);
}

.principal {
    background-image: url("imagens/filmes.png");
    background-repeat: no-repeat; 
    background-size: contain;
    height: 100vh;
    align-items: center;
    text-align: center;
}

.principal__assinatura {
    padding: 8% 3%;
    width: 35%; 
}

.principal__assinatura__conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.principal__assinatura__titulo {
    font-size: 1.75rem;
}

.principal__assinatura__imagem {
    padding: 8%;
}

.principal__assinatura__link {
    border: 2px solid var(--cor-marca);
    padding: 2%;
    border-radius: 8px; 
    text-decoration: none;
    color: var(--cor-texto);
}

.principal__assinatura__link:hover {
    background-color: var(--cor-marca);
}

.principal__assinatura__aviso {
    color: var(--cor-texto2);
    font-size: 0.7rem;
}

.secundario {
    display:flex;
    align-items: center;
    font-family: var(--fonte-texto);
}

.secundario__imagem {
    padding: 10% 0% 10% 15%;
}

.secundario__conteudo {
    padding: 15% 15% 15% 0; 
}

.secundario__conteudo__titulo {
    font-size: 3rem;
    color: var(--cor-texto);
}

.secundario__conteudo__texto {
    font-size: 1rem;
    color: var(--cor-texto2);
}

.terceiro {
    display: flex;
    align-items: center;
    font-family: var(--fonte-texto);
}

.terceiro__conteudo {
    padding: 10% 2% 10% 10%;

}

.terceiro__conteudo__titulo {
    font-size: 3rem;
    color: var(--cor-texto);
}

.terceiro__conteudo__texto {
    font-size: 1rem;
    color: var(--cor-texto2);
}

.terceiro__img {
    width: 40%;
    padding: 10% 10% 10% 0%;
}

